<th scope="row" valign="middle">
  {{weekNr()}}
</th>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(0)"></app-reservation-calendar-day>
</td>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(1)"></app-reservation-calendar-day>
</td>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(2)"></app-reservation-calendar-day>
</td>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(3)"></app-reservation-calendar-day>
</td>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(4)"></app-reservation-calendar-day>
</td>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(5)"></app-reservation-calendar-day>
</td>
<td class="m-0 p-0">
  <app-reservation-calendar-day [day]="dateDay(6)"></app-reservation-calendar-day>
</td>
